<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title>微云交易</title>
<meta name="keywords" content="微云交易，轻松获得高收益---全国领先的交易平台" />
<meta name="description" content="微云交易，轻松获得高收益---全国领先的交易平台">

<link rel="stylesheet" type="text/css" href="__CSS__/cd.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/icons.css" />
<script language="javascript" type="text/javascript" src="__JS__/jquery.min.js"></script>
</head>
<body>
<div class="main"> 	
       <block name="content">
       
       </block>
</div>
</body>
</html>