<extend name="Base/common"/>
<block name="content">
    <div class="main sidebar-minified">
        <style type="text/css">
            .form-list {
                padding-left: 30px;
            }

            .form-list > .form-group {
                padding: 10px 20px 5px 0;
            }

            .order-head {
                position: relative;
                height: 37px;
                overflow: hidden;
            }

            .order-head-tab {
                position: absolute;
                top: 0;
                left: 0;
            }

            .order-tabth > td {
                font-weight: bold;
            }

            .order-tabth > td {
                font-weight: bold;
            }

            .order-block {
                height: 300px;
                overflow: auto;
            }

            .order-block-tab {
                width: 2300px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .pagination {
                margin: 0;

            }

            .pagination > div {
                display: inline-block;
                margin: 0;
                padding: 0;
                height: 30px;
                line-height: 30px;
                border-radius: 4px;
            }

            .pagination > div > a,
            .pagination > div > span {
                position: relative;
                float: left;
                padding: 0 10px;
                margin-left: -1px;
                height: 30px;
                line-height: 30px;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > div > a:first-child,
            .pagination > div > span:first-child {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination > div > a:last-child,
            .pagination > div > span:last-child {
                margin-right: 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .pagination > div > a:hover {
                background-color: #eee;
            }

            .pagination > div > .current {
                background-color: #eee;
                color: #3b9ff3;
                font-weight: bold;
            }
        </style>
        <!--row 2017-3-15-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default odr-block">
                    <div class="panel-heading">
                        <h2><i class="fa fa-table red"></i><span class="break"></span><strong>
                            <if condition='$ostaus eq 0'>持仓订单
                                <else/>
                                平仓订单
                            </if>
                        </strong>
                        </h2>
                        <div class="panel-actions">
                            <a href=""><i class="fa fa-rotate-right"></i></a>
                            <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" id="searchfm" method="get" action="{:U('Trade/tradelist')}">
                            <input type="hidden" value="{$ostaus}" name="ostaus"/>
                            <input name="psize" id="psize" type="hidden" value="{$psize}"/>
                            <div class="form-list">
                                <div class="form-group">
                                    <label for="history">结算日期：</label>
                                    <select name="history" id="history" class="form-control" style="min-width: 196px;">
                                        <option value="tday" {$history=='tday'?'selected':''}>当日</option>
                                        <option value="yday" {$history=='yday'?'selected':''}>昨天</option>
                                        <option value="7day" {$history=='7day'?'selected':''}>7天</option>
                                        <option value="30dy" {$history=='30dy'?'selected':''}>近30天</option>
                                        <option value="tsmh" {$history=='tsmh'?'selected':''}>本月</option>
                                        <option value="ltmh" {$history=='ltmh'?'selected':''}>上月</option>
                                        <option value="qutr" {$history=='qutr'?'selected':''}>本季度</option>
                                        <option value="ltqr" {$history=='ltqr'?'selected':''}>上季度</option>
                                        <option value="year" {$history=='year'?'selected':''}>今年</option>
                                        <option value="ltyr" {$history=='ltyr'?'selected':''}>上年</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="username">登录账号：</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           value="{$username}">
                                </div>
                                <div class="form-group">
                                    <label for="realname">用户姓名：</label>
                                    <input type="text" class="form-control" id="realname" name="realname"
                                           value="{$realname}">
                                </div>
                                <div class="form-group">
                                    <label for="ptitle">商品名称：</label>
                                    <select id="ptitle" name="ptitle" class="form-control" style="min-width: 196px;">
                                        <option value="">默认</option>
                                        <volist name="ptitlelist" id="vo" style="width: 206px;">
                                            <option {$ptitle==$vo['ptitle']?'selected':''}>{$vo.ptitle}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="endprofit">交易点数：</label>
                                    <input type="text" class="form-control" id="endprofit" name="endprofit"
                                           value="{$endprofit}">
                                </div>
                                <if condition='$myutypedesu lt 4'>
                                <div class="form-group">
                                    <label for="dmjig">机构名称：</label>
                                    <input type="text" class="form-control" id="dmjig" name="dmjig" value="{$dmjig}">
                                </div>
                                </if>
                                <if condition='$myutypedesu lt 3'>
                                <div class="form-group">
                                    <label for="dmjig">代理名称：</label>
                                    <input type="text" class="form-control" id="dmdail" name="dmdail" value="{$dmdail}">
                                </div>
                                </if>
                                <!--<if condition='$myutypedesu lt 2'>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="dmjig">会员编号：</label>-->
                                    <!--<input type="text" class="form-control" id="dmhuiy" name="dmhuiy" value="{$dmhuiy}">-->
                                <!--</div>-->
                                <!--</if>-->
                            </div>
                            <button type="submit" class="btn btn-default pull-right" style="margin-right: 20px;">搜 索
                            </button>
                        </form>
                    </div>
                    <div style="border: 1px solid #d4d4d4; border-top:0;">
                        <!-- Table header -->
                        <div class="order-head">
                            <table class="table order-head-tab" style="width: 2300px;">
                                <tr class="order-tabth">
                                    <td style="width: 50px;">序号</td>
                                    <td style="width: 100px;">结算日期</td>
                                    <td style="width: 100px;">登录账号</td>
                                    <td style="width: 100px;">用户姓名</td>
                                    <td style="width: 100px;">交易类型</td>
                                    <td style="width: 100px;">商品名称</td>
                                    <td style="width: 100px;">交易点数</td>
                                    <td style="width: 100px;">交易次数</td>
                                    <td style="width: 100px;">盈次数</td>
                                    <td style="width: 100px;">亏次数</td>
                                    <td style="width: 100px;">平次数</td>
                                    <td style="width: 100px;">胜率(%)</td>
                                    <td style="width: 100px;">买卖类型</td>
                                    <td style="width: 100px;">委托金额</td>
                                    <td style="width: 100px;">有效委托金额</td>
                                    <td style="width: 100px;">盈亏金额</td>
                                    <td style="width: 100px;">盈利金额</td>
                                    <td style="width: 100px;">亏损金额</td>
                                    <td style="width: 100px;">交易管理费</td>
                                    <td style="width: 100px;">推荐费</td>
                                    <td style="width: 100px;">所属机构名称</td>
                                    <td style="width: 100px;">所属代理名称</td>
                                    <td style="width: 100px;">所属会员编号</td>
                                    <td style="width: 100px;">交易市场</td>
                                </tr>
                            </table>
                        </div>
                        <!-- Table body -->
                        <div class="order-block">
                            <!-- 表格主体 -->
                            <table class="table table-bordered order-block-tab">
                                <volist name="orderlist" id="vo">
                                    <tr class="ordtrd">
                                        <td style="width: 50px;">{$i}</td>
                                        <!--结算日期-->
                                        <td style="width: 100px;">{$vo.sltd}</td>
                                        <!--登录账号-->
                                        <td style="width: 100px;">{$vo.username}</td>
                                        <!--用户姓名-->
                                        <td style="width: 100px;">{$vo.realname}</td>
                                        <!--资金账户编号-->
                                        <if condition="$vo['eid'] eq 1">
                                            <td style="width: 100px;color: #6666CC;">点数</td>
                                            <else/>
                                            <td style="width: 100px;color: #FF6666;">时间</td>
                                        </if>
                                        <!--商品名称-->
                                        <td style="width: 100px;">{$vo.ptitle}</td>
                                        <!--交易点数-->
                                        <td style="width: 100px;">{$vo.endprofit|abs}</td>
                                        <!--交易次数-->
                                        <td style="width: 100px;">{$vo.odrcount}</td>
                                        <!--盈次数-->
                                        <td style="width: 100px;">{$vo.profitcount}</td>
                                        <!--亏次数-->
                                        <td style="width: 100px;">{$vo.losscount}</td>
                                        <!--平次数-->
                                        <td style="width: 100px;">{$vo.flatcount}</td>
                                        <!--胜率-->
                                        <if condition="$vo['winnpro'] lt 0.4">
                                            <td style="width: 100px;color: #FFCC00;">{$vo['winnpro']*100}%</td>
                                            <elseif condition="$vo['winnpro'] gt 0.4 and $vo['winnpro'] lt 0.75"/>
                                            <td style="width: 100px;color: #CC33CC;">{$vo['winnpro']*100}%</td>
                                            <else/>
                                            <td style="width: 100px;color: #00CC00;">{$vo['winnpro']*100}%</td>
                                        </if>
                                        <!--买卖类型-->
                                        <if condition="$vo['ostyle'] eq 0">
                                            <td style="width: 100px;color: red;">买涨</td>
                                            <else/>
                                            <td style="width: 100px;color: green;">买跌</td>
                                        </if>
                                        <!--委托金额-->
                                        <td style="width: 100px;">{$vo.feesum}</td>
                                        <!--有效委托金额-->
                                        <td style="width: 100px;">{$vo.tfeesum}</td>
                                        <!--盈亏金额-->
                                        <td style="width: 100px;{$vo['plosssum']>0?'color:blue':'color:red'};">
                                            {$vo.plosssum}
                                        </td>
                                        <!--盈利金额-->
                                        <td style="width: 100px;">{$vo.profit}</td>
                                        <!--亏损金额-->
                                        <td style="width: 100px;">{$vo.loss|abs}</td>
                                        <!--交易管理费-->
                                        <td style="width: 100px;">{$vo.managefeesum}</td>
                                        <!--推荐费-->
                                        <td style="width: 100px;">{$vo.commissionsum}</td>
                                        <!--所属机构名称-->
                                        <td style="width: 100px;">{$vo.dmjig}</td>
                                        <!--所属代理名称-->
                                        <td style="width: 100px;">{$vo.dmjinj}</td>
                                        <!--所属会员编号-->
                                        <td style="width: 100px;">{$vo.dmhuiy}</td>
                                        <!--交易市场-->
                                        <td style="width: 100px;">{$vo.dmshic}</td>
                                    </tr>
                                </volist>
                                <notempty name="orderlist">
                                    <tr class="ordtrd">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{$ototal['odrcount']}</td>
                                        <td>{$ototal['profitcount']}</td>
                                        <td>{$ototal['losscount']}</td>
                                        <td>{$ototal['flatcount']}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{$ototal['feesum']}</td>
                                        <td>{$ototal['tfeesum']}</td>
                                        <td style="{$ototal['plosssum']>0?'color:blue':'color:red'};">
                                            {$ototal['plosssum']}
                                        </td>
                                        <td>{$ototal['profit']}</td>
                                        <td>{$ototal['loss']|abs}</td>
                                        <td>{$ototal['managefeesum']}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </notempty>
                            </table>
                            <empty name="orderlist">
                                <div style="padding:100px 0 0;text-align: center;font-size: 32px;">没有查询到任何数据</div>
                            </empty>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top: 15px;">
                        <div class="pagination">{$page}</div>
                        <div style="margin-right:15px;display: inline-block;height: 30px;line-height: 30px;"
                             class="pull-left">每页显示:
                            <select style="margin:0;padding-left:8px;width: 50px;height: 30px;"
                                    onchange="$('#psize').val(this.value);$('#searchfm').submit();">
                                <option {$psize=='5'?'selected':''}>5</option>
                                <option {$psize=='10'?'selected':''}>10</option>
                                <option {$psize=='20'?'selected':''}>20</option>
                                <option {$psize=='50'?'selected':''}>50</option>
                                <option {$psize=='100'?'selected':''}>100</option>
                                <option {$psize=='200'?'selected':''}>200</option>
                            </select>&nbsp;条记录
                        </div>
                    </div>
                </div><!--/col-->
            </div><!--/row-->

        </div>
        <script>
            $('.order-block').on('scroll', function () {
                var myOffset = {};
                myOffset.left = $('.order-block-tab').offset().left;
                $('.order-head-tab').offset(myOffset);
            });

            $('.ordtrd').click(function () {
                $('.ordtrd').removeClass('info');
                $(this).addClass('info');
            });
        </script>
</block>