<extend name="Base/common"/>

<block name="content">

<link rel="stylesheet" href="__CSS__/common.css" />

<link rel="stylesheet" href="__CSS__/base.css">

<link rel="stylesheet" href="__CSS__/login.css">

<link href="__CSS__/riskInfo.css" rel="stylesheet" />

<script src="__JS__/jquery-2.1.1.min.js"></script>

<script src="__JS__/script.js"></script>

<script type="text/javascript" charset="utf-8" src="__JS__/sea.js" async></script>

<!-- <script src="__JS__/register.js"></script> -->
<style type="text/css">
    html{
        height: 100%;
        width: 100%;
    }
</style>
<body style="height: 100%;width: 100%;">

<div class="wrap">

		<form id="reviseForm" class="i-form" method="post" action="{:U('User/findpassword')}" >

        <div class=" main-con">

            <a class="logo" href="javascript:void(0)">

                <img src="__IMG__/login-logo.png">

            </a>

            <div class="input-con">

                <span><strong>注册账号:</strong></span>

                <input class="f-input text" type="text"  maxlength="16" placeholder="请输入账号" name="username" value="{$username}">

            </div>

            <div class="input-con">

                <span><strong>注册手机号:</strong></span>

                <input type="tel" placeholder="请输入手机号" class="f-input text" maxlength="11" name="utel" value="{$utel}">

            </div>

			<input type="button" value="确定" class="register-btn" id='send2' style="font-weight:800;">

            <a class="login" href="{:U('User/login')}" style="color:#FFF;">登录</a>

            <div class="bot-font">

                <img src="__IMG__/font.png">

            </div>

        </div>

        </form>

    </div>

</body>

<script type="text/javascript">

        $(function(){

            //如果是必填的，则加红星标识.

            //文本框失去焦点后

            $('form :input').blur(function(){

                var $parent = $(this).parent();

                $parent.find(".formtips").remove();

                //验证用户名

                if( $(this).is('input[name="username"]') ){

                    if( this.value=="" ){

                        $parent.append('<span class="formtips onError" style="color:red;width:5px">*</span>');

                    }else{

                        $parent.append('<span class="formtips onSuccess" style="display:none"></span> ');

                    }

                }

                //手机号码验证

                if( $(this).is('input[name="utel"]') ){

                    if( this.value=="" || ( this.value!="" && !/^1[3|4|5|8][0-9]\d{4,8}$/.test(this.value) ) ){

                        var errorMsg = '请输入正确的手机号码.';

                        $parent.append('<span class="formtips onError" style="color:red;width:5px">*</span> ');

                    }else{

                        $parent.append('<span class="formtips onSuccess" style="display:none"></span> ');

                    }

                }

                

            }).keyup(function(){

                $(this).triggerHandler("blur");

            }).focus(function(){

                $(this).triggerHandler("blur");

            });//end blur

            

          //提交，最终验证。

            $('#send2').click(function(){

                $("form :input.text").trigger('blur');

                var numError = $('form .onError').length;

                if(numError){

                    return false;

                } else {

                	$("#reviseForm").submit();

                }

            });

        })

    </script>

</block>