<extend name="Base/common"/>
<block name="content">
<link rel="stylesheet" href="__CSS__/common.css" />
<link rel="stylesheet" href="__CSS__/base.css">
<link rel="stylesheet" href="__CSS__/login.css">
<link href="__CSS__/riskInfo.css" rel="stylesheet" />
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/script.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/sea.js" async></script>
<!-- <script src="__JS__/register.js"></script> -->
<body>
<div class="wrap">
		<form id="reviseForm" class="i-form" method="post" action="{:U('User/setnewpassword')}" >
        <div class=" main-con">
            <a class="logo" href="javascript:void(0)">
                <img src="__IMG__/login-logo.png">
            </a>
			<input type="hidden"  name="uid" value="{$info.uid}">
			<div class="input-con">
                <span>用户名</span>{$info.username}
            </div>
            <div class="input-con">
                <span>手机号</span>{$info.utel}
                <input type="hidden"  name="utel" value="{$info.utel}">
            </div>
            <div class="code input-con">
                <span>验证码</span>
                <input type=text placeholder="短信验证码" maxlength="6" name="code">
                <a id="get-code" href="javascript:void(0)">获取验证码</a>
            </div>
            <div class="input-con">
                <span>重置密码</span>
                <input id="n-pwd" class="f-input text" type="password" maxlength="15" placeholder="请输入六位密码" name="upwd">
            </div>
            <div class="input-con">
                <span>确认密码</span>
                <input id="r-pwd" class="f-input text" type="password" maxlength="15" placeholder="请再次输入六位密码" name="repassword">
            </div>
			<input type="submit" value="确定" class="register-btn" id='send2'>

            <div class="bot-font">
                <img src="__IMG__/font.png">
            </div>
        </div>
        </form>
    </div>
</body>
<script type="text/javascript">
var errorMsg = "";
        $(function(){
            //如果是必填的，则加红星标识.
            //文本框失去焦点后
            $('form :input').blur(function(){
                var $parent = $(this).parent();
                $parent.find(".formtips").remove();
                
                //密码验证
                if( $(this).is('input[name="upwd"]') ){
                    if( this.value=="" ){
                        errorMsg = '请输入密码。';
                        $parent.append('<span class="formtips onError" style="color:red;width:5px">*</span>');
                    }else{
                    	errorMsg='';
                        $parent.append('<span class="formtips onSuccess" style="display:none"></span> ');
                    }
                }
                //确认密码验证
                if( $(this).is('input[name="repassword"]') ){
                	if($('#n-pwd').val() != ""){
                        if( this.value!=$('#n-pwd').val()){
                            errorMsg = '两次密码不一样。';
                            $parent.append('<span class="formtips onError" style="color:red;width:5px">*</span>');
                        }else{
                            errorMsg = '';
                            $parent.append('<span class="formtips onSuccess" style="display:none"></span> ');
                        }
                	}
                }
            }).keyup(function(){
                $(this).triggerHandler("blur");
            }).focus(function(){
                $(this).triggerHandler("blur");
            });//end blur
            
          //提交，最终验证。
            $('#send2').click(function(){
                $("form :input.text").trigger('blur');
                var numError = $('form .onError').length;
                if(numError){
                	if(errorMsg != ""){
                		alert(errorMsg);
                	}
                    return false;
                }
                var code = $('input[name="code"]').val();
                if(code == ""){
                    alert("请输入手机验证码！");
                    return false;
                }
            });
        })

       var countdown = 60;
       $(document).ready(function() {
           $("#get-code").click(function() {
        	   if (countdown != 60){ return false};
               var tel = $('input[name="utel"]').val();
               settime(this);
               $.ajax({
                   type : 'POST',
                   url : "{:U('User/smsverify11')}",
                   data : {'tel' : tel},
                   success:function(data){
                       alert(data);
                   },
                   error:function(data){
                       alert(data);
                   }
               });
           });
       });
       function settime(obj) {
           if (countdown == 0) {
               $(obj).text("获取验证码");
               countdown = 60;
               return;
           } else {
               $(obj).text("重新发送(" + countdown + ")");
               countdown--;
           }
           setTimeout(function() {
               settime(obj)
           }, 1000)
       }
       
    </script>
</block>