<extend name="Base/common"/>
<block name="content">
        <!-- this page specific styles -->
		<link rel="stylesheet" href="__CSS__/compiled/article-add.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="__CSS__/compiled/ui-elements.css" type="text/css" media="screen" />
		<link href="__CSS__/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
		<link href="__CSS__/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="__CSS__/bootstrap/bootstrap-switch.min.css" type="text/css" rel="stylesheet" />
		<style type="text/css">
		  .input_error {
		  	border-color:red !important;
		  }
		</style>
	        <div id="txFeeConfigTemplate" style="display:none" class="txFeeConfigRow">
	          <label></label>
	          <input class="span2 fromAmount" type="text" style="width:80px"/>
	          <select class="span1 fromRelation" style="margin-bottom:10px;">
	            <option value="lt" selected>＜</option>
	            <option value="le">≤</option>
	          </select>
	                 提现金额
	          <select class="span1 toRelation" style="margin-bottom:10px">
	            <option value="lt" selected>＜</option>
	            <option value="le">≤</option>
	          </select>
	          <input class="span2 toAmount" type="text" style="width:80px"/>
	          时，
	          <input class="span2 fee" type="text" style="width:80px"/>
	          <select class="span2 type" style="margin-bottom:10px;width:80px">
	            <option value="fixed">元/笔</option>
	            <option value="percent">%</option>
	          </select>
	          <i class="icon-minus-sign delTXFeeConfig" style="font-size:20px;cursor:pointer" onclick="delTXFeeConfig(this);"></i>
	        </div>

        <div class="container-fluid">
            <div id="pad-wrapper" class="form-page">
                <div class="row-fluid form-wrapper">
                    <!-- left column -->
                    <div class="span9 column esystem">
                        <div class="field-box" style=";padding-left:0px">
                            <label style="width:100%"><h3><b>通用提现设置</b></h3></label>
                        </div>
                    	<div style="border-bottom: 1px solid #dee3ea;width: 96.3%; position: relative;float: left;padding-bottom:10px;padding-left:20px;display:none">
                            <label>是否允许秒提</label>
                            <input type="checkbox" id="enableMiaoti" value="0"/>
                        </div>
                        <div class="field-box" style="margin-top:10px">                        	
                            <label>每客户每天最大提现金额</label>
                            <input class="span6 money" type="text" id="maxAmountPerUserDay"/>
                        </div>
                        <div class="field-box" style="margin-top:0px">                        	
                            <label>每客户每天最大提现次数</label>
                            <input class="span6 count" type="text" id="maxTimesPerUserDay"/>
                        </div>
                        <div class="field-box" style="margin-top:0px">                        	
                            <label>系统每天最大提现金额</label>
                            <input class="span6 money" type="text" id="maxAmountPerDay"/>
                        </div>
                        <div class="field-box" style="padding-left:0px">
                            <label style="width:100%"><h3><b>微信提现设置</b></h3></label>
                        </div>
                        <div id="wxConfig">
                        <div class="field-box txFeeConfig" style="margin-top:0px">
                          <div class="txFeeConfigRow">
                            <label>手续费设置</label>
                            <input class="span2 fromAmount money" type="text" style="width:80px"/>
                            <select class="span1 fromRelation" style="margin-bottom:10px">
                              <option value="lt" selected>＜</option>
                              <option value="le">≤</option>
                            </select>
                                   提现金额
                            <select class="span1 toRelation" style="margin-bottom:10px">
                              <option value="lt" selected>＜</option>
                              <option value="le">≤</option>
                            </select>
                            <input class="span2 toAmount money" type="text" style="width:80px"/>
                            时，
                            <input class="span2 fee money" type="text" style="width:80px"/>
                            <select class="span2 type" style="margin-bottom:10px;width:80px">
                              <option value='fixed'>元/笔</option>
                              <option value="percent">%</option>
                            </select>
                            <i class="icon-plus-sign addTXFeeConfig" style="font-size:20px;cursor:pointer"></i>
                          </div>
                        </div>
                        <div class="field-box" style="margin-top:0px;margin-bottom:0px">
                          <label>提现提示</label>
                          <textarea class="span8 feeTips" rows="2" style="margin-bottom:10px;"></textarea>
                        </div>
                      </div> 

                        <div class="field-box" style="padding-left:0px">
                            <label style="width:100%"><h3><b>银联提现设置</b></h3></label>
                        </div>
                        <div id="unionpayConfig">
                        <div class="field-box txFeeConfig" style="margin-top:0px">
                          <div class="txFeeConfigRow">
                            <label>手续费设置</label>
                            <input class="span2 fromAmount money" type="text" style="width:80px"/>
                            <select class="span1 fromRelation" style="margin-bottom:10px">
                              <option value="lt" selected>＜</option>
                              <option value="le">≤</option>
                            </select>
                                   提现金额
                            <select class="span1 toRelation" style="margin-bottom:10px">
                              <option value="lt" selected>＜</option>
                              <option value="le">≤</option>
                            </select>
                            <input class="span2 toAmount money" type="text" style="width:80px"/>
                            时，
                            <input class="span2 fee money" type="text" style="width:80px"/>
                            <select class="span2 type" style="margin-bottom:10px;width:80px">
                              <option value='fixed'>元/笔</option>
                              <option value="percent">%</option>
                            </select>
                            <i class="icon-plus-sign addTXFeeConfig" style="font-size:20px;cursor:pointer"></i>
                          </div>
                        </div>
                        <div class="field-box" style="margin-top:0px;margin-bottom:0px">
                          <label>提现提示</label>
                          <textarea class="span8 feeTips" rows="2" style="margin-bottom:10px;">{$conf.notice}</textarea>
                        </div>
                      </div>

                        <div class="field-box" style="padding-left:0px">
                            <label style="width:100%"><h3><b>支付宝提现设置</b></h3></label>
                        </div>
                        <div id="alipayConfig">
                            <div class="field-box txFeeConfig" style="margin-top:0px">
                                <div class="txFeeConfigRow">
                                    <label>手续费设置</label>
                                    <input class="span2 fromAmount money" type="text" style="width:80px"/>
                                    <select class="span1 fromRelation" style="margin-bottom:10px">
                                        <option value="lt" selected>＜</option>
                                        <option value="le">≤</option>
                                    </select>
                                    提现金额
                                    <select class="span1 toRelation" style="margin-bottom:10px">
                                        <option value="lt" selected>＜</option>
                                        <option value="le">≤</option>
                                    </select>
                                    <input class="span2 toAmount money" type="text" style="width:80px"/>
                                    时，
                                    <input class="span2 fee money" type="text" style="width:80px"/>
                                    <select class="span2 type" style="margin-bottom:10px;width:80px">
                                        <option value='fixed'>元/笔</option>
                                        <option value="percent">%</option>
                                    </select>
                                    <i class="icon-plus-sign addTXFeeConfig" style="font-size:20px;cursor:pointer"></i>
                                </div>
                            </div>
                            <div class="field-box" style="margin-top:0px;margin-bottom:0px">
                                <label>提现提示</label>
                                <textarea class="span8 feeTips" rows="2" style="margin-bottom:10px;">{$conf.notice}</textarea>
                            </div>
                        </div>


                        <div class="span8 field-box actions" style="margin-top:0px;margin-bottom:0px;text-align:center;padding-bottom:10px;padding-top:10px">
                          <input type="button" class="btn-glow primary" value="保存" onclick="saveConfig();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- scripts for this page -->	
	<script src="__JS__/wysihtml5-0.3.0.js"></script>
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="__JS__/bootstrap.datepicker.js"></script>
    <script src="__JS__/jquery.uniform.min.js"></script>
	<script src="__JS__/bootstrap-switch.min.js"></script>
	<script src="__JS__/theme.js"></script>
    <script language="javascript" src="__PUBLIC__/Js/numeric.js"></script>
    <!-- call this page plugins -->
    <script>
	    function delTXFeeConfig (o) {
	    	$(o).parent().remove();
	    }
	    
	    function saveConfig() {
	    	if (!checkInput()) {
	    		return false;
	    	}
	    	
	    	var config = {};
	    	config['tixian.common.enableMiaoti'] = $("#enableMiaoti").val();
	    	config['tixian.common.maxAmountPerUserDay'] = $("#maxAmountPerUserDay").val();
	    	config['tixian.common.maxTimesPerUserDay'] = $("#maxTimesPerUserDay").val();
	    	config['tixian.common.maxAmountPerDay'] = $("#maxAmountPerDay").val();
	    	
	    	var tips = $("#wxConfig").find(".feeTips").val();
	    	tips = tips.replace(" ", "&nbsp;")
	    	tips = tips.replace("\n", "<br>")
	    	config['tixian.weixin.feeTips'] = tips;
	    	
	    	var fee = [];
	    	$("#wxConfig").find(".txFeeConfigRow").each(function() {
	    		var f = {};
	    		f.fromAmount = $(this).find(".fromAmount").val();
	    		if (f.fromAmount == "") {
	    			f.fromAmount = 0;
	    		}
	    		f.fromRelation = $(this).find(".fromRelation").val();
	    		f.toAmount = $(this).find(".toAmount").val();
	    		if (f.toAmount == "") {
	    			f.toAmount = 0;
	    		}
	    		f.toRelation = $(this).find(".toRelation").val();
	    		f.fee = $(this).find(".fee").val();
	    		f.type = $(this).find(".type").val();
	    		fee.push(f);
	    	});
	    	config['tixian.weixin.fee'] = JSON.stringify(fee);


	    	tips = $("#unionpayConfig").find(".feeTips").val();
	    	tips = tips.replace(" ", "&nbsp;")
	    	tips = tips.replace("\n", "<br>")
	    	config['tixian.unionpay.feeTips'] = tips;
	    	
	    	fee = [];
	    	$("#unionpayConfig").find(".txFeeConfigRow").each(function() {
	    		var f = {};
	    		f.fromAmount = $(this).find(".fromAmount").val();
	    		if (f.fromAmount == "") {
	    			f.fromAmount = 0;
	    		}
	    		f.fromRelation = $(this).find(".fromRelation").val();
	    		f.toAmount = $(this).find(".toAmount").val();
	    		if (f.toAmount == "") {
	    			f.toAmount = 0;
	    		}
	    		f.toRelation = $(this).find(".toRelation").val();
	    		f.fee = $(this).find(".fee").val();
	    		f.type = $(this).find(".type").val();
	    		fee.push(f);
	    	});
	    	config['tixian.unionpay.fee'] = JSON.stringify(fee);

            tips = $("#alipayConfig").find(".feeTips").val();
            tips = tips.replace(" ", "&nbsp;")
            tips = tips.replace("\n", "<br>")
            config['tixian.alipay.feeTips'] = tips;

            fee = [];
            $("#alipayConfig").find(".txFeeConfigRow").each(function() {
                var f = {};
                f.fromAmount = $(this).find(".fromAmount").val();
                if (f.fromAmount == "") {
                    f.fromAmount = 0;
                }
                f.fromRelation = $(this).find(".fromRelation").val();
                f.toAmount = $(this).find(".toAmount").val();
                if (f.toAmount == "") {
                    f.toAmount = 0;
                }
                f.toRelation = $(this).find(".toRelation").val();
                f.fee = $(this).find(".fee").val();
                f.type = $(this).find(".type").val();
                fee.push(f);
            });
            config['tixian.alipay.fee'] = JSON.stringify(fee);

	    	$.ajax({
	    		"url" : "saveWithdrawConfig.html",
	    		"async":false,
	    		"type" :'POST',
	    		"data" : {"config":JSON.stringify(config)},
	    		"success" :function(data) {
	    			var result = JSON.parse(data);
	    			if (result.success == 1) {
	    				alert("保存成功！");
	    			}
	    			else {
	    				alert("保存失败！");
	    			}
	    			
	    		},
	    		"error" :function(data) {
    				alert("保存失败！");
	    		}
	    	});
	    	
	    }
	    
	    function initDisplay() {
	    	var config = {$config};
	    	var len = config.length;
	    	for (var i=0; i<len; i++) {
	    		var k = config[i].k;
	    		var v = config[i].v;
	    		
	    		if (k == "tixian.common.enableMiaoti") {
	    			if (v == 1) {
	    				$('#enableMiaoti')[0].checked = true;
	    			}
	    			else {
	    				$('#enableMiaoti')[0].checked = false;
	    			}
	    		}
	    		else if (k == "tixian.common.maxAmountPerUserDay") {
	    			$("#maxAmountPerUserDay").val(v);
	    		}
	    		else if (k == "tixian.common.maxTimesPerUserDay") {
	    			$("#maxTimesPerUserDay").val(v);
	    		}
	    		else if (k == "tixian.common.maxAmountPerDay") {
	    			$("#maxAmountPerDay").val(v);
	    		}
	    		else if (k == "tixian.weixin.feeTips") {
	    			v = v.replace("&nbsp;", " ")
	    	    	v = v.replace("<br>", "\n")
	    			$("#wxConfig").find(".feeTips").val(v);
	    		} 
	    		else if (k == "tixian.weixin.fee") {
	    			var c = JSON.parse(v);
	    			for (var j=0; j<c.length; j++) {
	    				var o;
	    				if (j == 0) {
	    					o = $("#wxConfig").find(".txFeeConfigRow").first();
	    				}
	    				else {
	    	    	    	var o = $("#txFeeConfigTemplate").clone();
	    	    	    	o.removeAttr("id");
	    	    	    	o.css("display", "block");
	    	    	    	o.find("input").addClass("money");
	    	    	    	$("#wxConfig").children(".txFeeConfig").append(o);
	    				}
    					o.children(".fromAmount").val(c[j].fromAmount);
    					o.children(".toAmount").val(c[j].toAmount);
    					o.children(".fromRelation").val(c[j].fromRelation);
    					o.children(".toRelation").val(c[j].toRelation);
    					o.children(".fee").val(c[j].fee);
    					o.children(".type").val(c[j].type);
	    			}
	    		}
	    		else if (k == "tixian.unionpay.feeTips") {
	    			v = v.replace("&nbsp;", " ")
	    	    	v = v.replace("<br>", "\n")
	    			$("#unionpayConfig").find(".feeTips").val(v);
	    		} 
	    		else if (k == "tixian.unionpay.fee") {
	    			var c = JSON.parse(v);
	    			for (var j=0; j<c.length; j++) {
	    				var o;
	    				if (j == 0) {
	    					o = $("#unionpayConfig").find(".txFeeConfigRow").first();
	    				}
	    				else {
	    	    	    	var o = $("#txFeeConfigTemplate").clone();
	    	    	    	o.removeAttr("id");
	    	    	    	o.css("display", "block");
	    	    	    	o.find("input").addClass("money");
	    	    	    	$("#unionpayConfig").children(".txFeeConfig").append(o);
	    				}
    					o.children(".fromAmount").val(c[j].fromAmount);
    					o.children(".toAmount").val(c[j].toAmount);
    					o.children(".fromRelation").val(c[j].fromRelation);
    					o.children(".toRelation").val(c[j].toRelation);
    					o.children(".fee").val(c[j].fee);
    					o.children(".type").val(c[j].type);
	    			}
	    		}
                else if (k == "tixian.alipay.feeTips") {
                    v = v.replace("&nbsp;", " ")
                    v = v.replace("<br>", "\n")
                    $("#alipayConfig").find(".feeTips").val(v);
                }
                else if (k == "tixian.alipay.fee") {
                    var c = JSON.parse(v);
                    for (var j=0; j<c.length; j++) {
                        var o;
                        if (j == 0) {
                            o = $("#alipayConfig").find(".txFeeConfigRow").first();
                        }
                        else {
                            var o = $("#txFeeConfigTemplate").clone();
                            o.removeAttr("id");
                            o.css("display", "block");
                            o.find("input").addClass("money");
                            $("#alipayConfig").children(".txFeeConfig").append(o);
                        }
                        o.children(".fromAmount").val(c[j].fromAmount);
                        o.children(".toAmount").val(c[j].toAmount);
                        o.children(".fromRelation").val(c[j].fromRelation);
                        o.children(".toRelation").val(c[j].toRelation);
                        o.children(".fee").val(c[j].fee);
                        o.children(".type").val(c[j].type);
                    }
                }
	    	}
	    }
	    
	    function checkInput() {
	    	$(".money").removeClass("input_error");
	    	$(".count").removeClass("input_error");
	    	
	    	//检查金额
	    	var ar = $(".money");
	    	for (var i=0; i<ar.length; i++) {
	    		var o = ar[i];
	    		if (o.value != '') {
		    		if (!isNumeric(o.value, 8, 2)) {
		    			$(o).addClass("input_error");
		    			alert("请输入正确的金额（最多8位整数2位小数）");
		    			$(o).focus();
		    			return false;
		    		}
	    		}
	    	}

	    	var ar = $(".count");
	    	for (var i=0; i<ar.length; i++) {
	    		var o = ar[i];
	    		if (o.value != '') {
		    		if (!isNumeric(o.value, 8, 2)) {
		    			$(o).addClass("input_error");
		    			alert("请输入正确的整数（最多8位）");
		    			$(o).focus();
		    			return false;
		    		}
	    		}
	    	}
	    	
	    	return true;
	    }
    
        $(function () {
        	setdashboardmenu("系统设置");

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
            
    	    initDisplay();

            $("#enableMiaoti").bootstrapSwitch({
                onText:"开启",  
                offText:"关闭",
                onSwitchChange:function(event,state){  
                    if(state==true){  
                        $(this).val("1");  
                    }
                    else{  
                        $(this).val("0");  
                    }
                },
            	onInit(event,state) {  
	                if(state==true){  
	                    $(this).val("1");  
	                }
	                else{  
	                    $(this).val("0");  
	                }
	            }
            });
            
    	    $(".addTXFeeConfig").click(function() {
    	    	var o = $("#txFeeConfigTemplate").clone();
    	    	o.removeAttr("id");
    	    	o.css("display", "block");
    	    	o.find("input").addClass("money");
    	    	$(this).parent().parent().append(o);
    	    });
    	    
    	    
        });
    </script>

</block>

