<extend name="Base/common"/>

<block name="content">

	<!-- this page specific styles -->

	<link rel="stylesheet" href="__CSS__/compiled/article-add.css" type="text/css" media="screen" />

    <div class="container-fluid">

        <div id="pad-wrapper" class="form-page">

			 <div class="row-fluid header">

                <h3>品种管理&nbsp;>&nbsp;添加品种</h3>

            </div>

            <div class="row-fluid form-wrapper">

            	<form action="{:U('Goods/gadd')}" method="post">

                <!-- left column -->

                <div class="span8 column">

					<div class="field-box">

						<label>商品名称：</label>

						<input class="span8" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入商品名称" data-placement="right" name="ptitle"/>

					</div>

					<div class="field-box">

						<label>显示名称：</label>

						<input class="span8" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入前端显示名称" data-placement="right" name="displayname"/>

					</div>

					<div class="field-box">

						<label>排序号：</label>

						<input class="span8" type="text" data-toggle="tooltip" data-trigger="focus" title="排序号，数字越小，排的越前" data-placement="right" name="sort" value=""/>

					</div>

					<div class="field-box" style="display: none;">

						<label>交易所:</label>

						<div class="ui-select span5">

							<select style="width:100%" name="bourse">

									<volist name="bourses" id="vo">

									<option value="{$key}">{$vo}</option>

									</volist>

							</select>

						</div>

					</div>

					<div class="field-box">

						<label>品种编码:</label>

						<div class="ui-select span5">

							<select style="width:100%" name="code">

									<volist name="codes" id="vo">

									<option value="{$key}">{$vo}</option>

									</volist>

							</select>

						</div>

					</div>

<!--					<div class="field-box">

						<label>点差矫正:</label>

						<ul class="span6">

							<li  style="list-style-type:none;">

							<label>点差加</label>

							<input class="span2" type="text" data-toggle="tooltip" data-trigger="focus" title="正数为加，负数为减" data-placement="right" name="patj" value="0"/>

							</li>

							<li  style="list-style-type:none;">

							<label>点差乘</label>

							<input class="span2" type="text" data-toggle="tooltip" data-trigger="focus" title="大于1为乘，大于0小于1为除" data-placement="right" name="patx" value="1"/>

							</li>

						</ul>

					</div>-->

					<div class="field-box">

						<label>基础交易时间：</label>

						<div class="span8">

						<table class='table'>

							<thead>

								<tr>

									<th class="span1">

										<span ></span>日期

									</th>

									<th class="span3">

										<span ></span>开始时刻

									</th>

									<th class="span3">

										<span ></span>结束时刻

									</th>

									<th class="span1">

										<span ></span>操作

									</th>

								</tr>

							</thead>

							<tbody>

								<tr  class="first">

									<td>

										星期一

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart1[]"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend1[]"/><br>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

								<tr  class="first">

									<td>

										星期二

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart2[]"/>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend2[]"/>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

								<tr  class="first">

									<td>

										星期三

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart3[]"/>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend3[]"/>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

								<tr  class="first">

									<td>

										星期四

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart4[]"/>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend4[]"/>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

								<tr  class="first">

									<td>

										星期五

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart5[]"/>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend5[]"/>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

								<tr  class="first">

									<td>

										星期六

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart6[]"/>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend6[]"/>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

								<tr  class="first">

									<td>

										星期日

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易开始时间(例子：0600（凌晨6点整）)" data-placement="right" name="tstart7[]"/>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入交易结束时间(例子：0400（凌晨4点整）)" data-placement="right" name="tend7[]"/>

									</td>

									<td>

										<span class="glyphicon glyphicon-plus peroidplus" style="color: rgb(40, 23, 34); text-shadow: none;font-size: 21px;padding:3px;"> </span>

									</td>

								</tr>

							</tbody>

						</table>

						</div>

					</div>	

					<div class="field-box">

						<label>交易规则：</label>

						<div class="span8">

						<table class='table'>

							<thead>

								<tr>

									<th class="span2">

										<span ></span>档位

									</th>

<!--									<th class="span3">

										<span ></span>点数

									</th>-->

<!--									<th class="span3">

										<span ></span>收益率（%）

									</th>-->

									<th class="span3">

										<span ></span>时间（分钟）

									</th>

									<th class="span3">

										<span ></span>收益率（%）

									</th>

									<th class="span3">

										<span ></span>手续费（%）

									</th>

								</tr>

							</thead>

							<tbody>

								<tr  class="first">

									<td>

										第一档

									</td>

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数" data-placement="right" name="dianshu1"/><br>

									</td>-->

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数受益率" data-placement="right" name="profit_dianshu_1"/><br>

									</td>-->

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间（分钟）" data-placement="right" name="shijian1"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间受益率" data-placement="right" name="profit_shijian_1"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入手续费" data-placement="right" name="poundage_1"/><br>

									</td>

								</tr>

								<tr  class="first">

									<td>

										第二档

									</td>

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数" data-placement="right" name="dianshu2"/><br>

									</td>-->

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数受益率" data-placement="right" name="profit_dianshu_2"/><br>

									</td>-->

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间（分钟）" data-placement="right" name="shijian2"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间受益率" data-placement="right" name="profit_shijian_2"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入手续费" data-placement="right" name="poundage_2"/><br>

									</td>

								</tr>

								<tr  class="first">

									<td>

										第三档

									</td>

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数" data-placement="right" name="dianshu3"/><br>

									</td>-->

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数受益率" data-placement="right" name="profit_dianshu_3"/><br>

									</td>-->

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间（分钟）" data-placement="right" name="shijian3"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间受益率" data-placement="right" name="profit_shijian_3"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入手续费" data-placement="right" name="poundage_3"/><br>

									</td>

								</tr>

								<tr  class="first">

									<td>

										第四档

									</td>

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数" data-placement="right" name="dianshu4"/><br>

									</td>-->

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数受益率" data-placement="right" name="profit_dianshu_4"/><br>

									</td>-->

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间（分钟）" data-placement="right" name="shijian4"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间受益率" data-placement="right" name="profit_shijian_4"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入手续费" data-placement="right" name="poundage_4"/><br>

									</td>

								</tr>

								<tr  class="first">

									<td>

										第五档

									</td>

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数" data-placement="right" name="dianshu5"/><br>

									</td>-->

<!--									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入点数受益率" data-placement="right" name="profit_dianshu_5"/><br>

									</td>-->

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间（分钟）" data-placement="right" name="shijian5"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入时间受益率" data-placement="right" name="profit_shijian_5"/><br>

									</td>

									<td>

										<input style="width:100%" type="text" data-toggle="tooltip" data-trigger="focus" title="请输入手续费" data-placement="right" name="poundage_5"/><br>

									</td>

								</tr>

							</tbody>

						</table>

						</div>

					</div>	

					<div class="field-box">

					<label>品种交易状态:</label>

						<div class="ui-select span5">

							<select style="width:100%" name="status">

									<volist name="status" id="vo">

									<option  value="{$key}">{$vo}</option>

									</volist>

							</select>

						</div>

					</div>

                    <div class="field-box actions">

						<input type="submit" class="btn-glow primary" value="提交"><span>或</span><input type="reset" value="重置" class="reset">

					</div>

                </div>

				</form>

                <!-- right column -->

                <div class="span4 column pull-right">

                   <div class="field-box"><h3>说明：</h3></div>

				   <div class="field-box">1、显示名称为前端客户可以看到的品种名称，如：“原油”显示为“芳烃”</div>

				   <div class="field-box">2、交易时间填写为24小时制的时分，如：开始时间0600，休市时间0400；开始时间空白时，表示当天休市</div>

				   <div class="field-box">3、具体每天时间如有微调，可以在日历设置页面进行详细设置</div>

				   <div class="field-box">4、品种如果停止交易，前端将不再显示该品种</div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- end main container -->





<!-- scripts for this page -->

<script src="__JS__/wysihtml5-0.3.0.js"></script>

<script src="__JS__/jquery-latest.js"></script>

<script src="__JS__/bootstrap.min.js"></script>

<script src="__JS__/bootstrap-wysihtml5-0.0.2.js"></script>

<script src="__JS__/bootstrap.datepicker.js"></script>

<script src="__JS__/jquery.uniform.min.js"></script>

<script src="__JS__/select2.min.js"></script>

<script src="__JS__/theme.js"></script>

<script type="text/javascript">

	$(document).ready(function(){

		setdashboardmenu("产品管理");

		

		$(".peroidplus").click(function (){

			var parent_tr = this.parentNode.parentNode;

			var startInput = parent_tr.children[1].children[0].cloneNode(true);

			var endInput = parent_tr.children[2].children[0].cloneNode(true);

			parent_tr.children[1].appendChild(startInput);

			parent_tr.children[2].appendChild(endInput);

		});

		

	});

</script>

<!-- call this page plugins -->

<script type="text/javascript">

    $(function () {



        // add uniform plugin styles to html elements

        $("input:checkbox, input:radio").uniform();



        // select2 plugin for select elements

        $(".select2").select2({

            placeholder: "Select a State"

        });



        // datepicker plugin

        $('.datepicker').datepicker().on('changeDate', function (ev) {

            $(this).datepicker('hide');

        });



        // wysihtml5 plugin on textarea

        $(".wysihtml5").wysihtml5({

            "font-styles": false

        });

    });

</script>

</block>