<extend name="Base/common"/>
<block name="content">
<!-- this page specific styles -->
<link href="__CSS__/lib/select2.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="__CSS__/compiled/user-list.css" type="text/css" media="screen">
<div class="container-fluid">
            <div id="pad-wrapper" class="users-list">
                <div class="row-fluid header">
                    <h3>客户列表</h3>
                    <form id="searchfm" method="get" action="{:U('User/ulist')}">
                        <input name="psize" id="psize" type="hidden" value="{$psize}"/>
	                    <div class="span10 pull-right">
		                    <div class="tpsearch span3">
		                    	客户账号：<input type="text" placeholder="请输入客户账号" value="<?php echo I('username'); ?>" name="username" id="username"/>
		                    </div>
		                    <div class="tpsearch span3">
		                    	客户昵称：<input type="text"  placeholder="请输入客户昵称" value="<?php echo I('nickname'); ?>" name="nickname" id="nickname"/>
		                    </div>
		                    <div class="tpsearch span3">
		                    	客户手机：<input type="text"  placeholder="请输入客户手机" value="<?php echo I('utel'); ?>" name="utel" id="utel">
		                    </div>
		                    <div class="tpsearch span3">
		                    	创建日期晚于：<input type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" value="<?php echo urldecode(I('utime'))?>" name="utime" id="utime">
		                    </div>
		                </div>
		                <div class="span10 pull-right">
		                    <div class="tpsearch span3">
		                    	所属会员单位：
		                    	<select name="companyid" style="width:200px" class="select2">
	                                <option value="0">请选择会员单位</option>
	                                <volist name="companys" id="cp">
	                                    <option value="{$cp['cid']}" <if condition="I('companyid') eq $cp['cid']">selected="selected"</if>/>{$cp['comname']}
	                                </volist>
	                            </select>
		                    </div>
		                    <div class="tpsearch span3">
		                    	实名认证状态：
		                    	<select name="authenticationsstatus" style="width:200px">
	                                <option value="" <if condition="I('authenticationsstatus') eq ''">selected="selected"</if>>请选择认证状态</option>
	                                <option value="0"<if condition="I('authenticationsstatus') eq '0'">selected="selected"</if>>未申请</option>
	                                <option value="1"<if condition="I('authenticationsstatus') eq '1'">selected="selected"</if>>认证中</option>
	                                <option value="2"<if condition="I('authenticationsstatus') eq '2'">selected="selected"</if>>已认证</option>
	                                <option value="3"<if condition="I('authenticationsstatus') eq '3'">selected="selected"</if>>认证失败</option>
	                            </select>
		                    </div>
		                    <div class="tpsearch span3">
		                    	激活状态：
		                    	<select name="ustatus" style="width:200px">
	                                <option value="" <if condition="I('ustatus') eq ''">selected="selected"</if>>请选择激活状态</option>
	                                <option value="1"<if condition="I('ustatus') eq '1'">selected="selected"</if>>开户</option>
	                                <option value="2"<if condition="I('ustatus') eq '2'">selected="selected"</if>>激活</option>
	                                <option value="3"<if condition="I('ustatus') eq '3'">selected="selected"</if>>冻结</option>
	                            </select>
		                    </div>
		                </div>
		                <div class="span10 pull-right" style="margin-top: 10px;">
	                    	<a href="javascript:void(0)" onclick="$('#searchfm').submit();" class="btn-flat info" id="search_begin">开始查找</a>
	                    </div>
                    </form>
                </div>
                <!-- Users table -->
                <style>
                    #pad-wrapper{padding-left: 0}
                    #ajaxback td{padding: 3px 2px;font-size: 12px;line-height: 14px;}
                </style>
                <div class="row-fluid table">
                    <table class="table table-hover ulist-desu">
                        <thead>
                            <tr>
                                <th class="span1 sortable">
                                	#
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>客户账号
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>客户姓名
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>客户昵称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>手机号码
                                </th>
                                <!-- <th class="span1 sortable">
                                    <span class="line"></span>地区
                                </th> -->
                                <th class="span2 sortable">
                                    <span class="line"></span>微信头像
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>创建日期
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>所属机构名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>所属代理名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>所属会员编号
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>公司名称
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>最近登录时间
                                </th>	
                                <th class="span2 sortable">
                                    <span class="line"></span>账户余额
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>交易量
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>实名认证
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>激活状态
                                </th>
                                <th class="span2 sortable">
                                    <span class="line"></span>操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="ajaxback">
                        <volist name="ulist" id="ult">
                        <!-- row -->
                        <tr class="first">
                            <td data-uid="{$ult['uid']}">{$i}</td>
                            <td>
                            	{$ult['username']}
                            </td>
                            <td>
                                {$ult['realname']}
                            </td>
                            <td>
                                {$ult['nickname']}
                            </td>
                            <td>
                                {$ult['utel']}
                            </td>
                            <!-- <td>
                                {$ult['address']}
                            </td> -->
                            <td>
                            	<if condition="$ult.portrait eq ''"><img src="__IMG__/contact-img.png" class="img-circle avatar hidden-phone"><else/><img src="{$ult.portrait}" class="img-circle avatar hidden-phone"></if>
                            </td>
                            <td>
                                {$ult['utime']|date='Y-m-d H:i',###}
                            </td>
                            <td>{$ult['dmjig']}</td>
                            <td>{$ult['dmjinj']}</td>
                            <td>{$ult['dmhuiy']}</td>
                            <td>{$ult['dmname']}</td>
                            <td>
                            	<if condition="$ult.lastlog eq ''"><else/>
                            		{$ult['lastlog']|date='Y-m-d H:i:s',###}
                            	</if>
                            </td>
                            <td>
                            	<font color="#f00" size="4">￥{$ult['balance']}</font>
                            </td>
                            <td>
                                <font color="#f00" size="4">￥{$ult['orderSum']}</font>
                            </td>
                            <td>
                                <if condition='$ult["authenticationsstatus"] eq 0'>未实名</if>
                                <if condition='$ult["authenticationsstatus"] eq 1'>实名申请中</if>
                                <if condition='$ult["authenticationsstatus"] eq 2'>
                                <a href="{:U('User/checkauthentications',array('uid'=>$ult['uid']))}">已实名</a></if>
                                <if condition='$ult["authenticationsstatus"] eq 3'>认证失败</if>
                            </td>
                            <td>
                            	<switch name='ult.ustatus'>
                            		<case value='1'>开户</case>
                            		<case value='2'>激活</case>
                            		<case value='3'>冻结</case>
                            	</switch>
                            </td>
                            <td>
                            	<ul class="actions">
                            	    <if condition="$_SESSION['pkey']['USER_EDIT'] eq '1'">
                                        <li ><a href="{:U('User/updateuser',array('uid'=>$ult['uid']))}"><i class="table-edit"></i></a></li>
                                        <li class="last"><a href="{:U('User/userdel',array('uid'=>$ult['uid']))}" onclick="if(confirm('确定要删除吗?')){return true;}else{return false;}"><i class="table-delete"></i></a></li>
                                    </if>
                                    <if condition='$ult["authenticationsstatus"] eq 1'>
                                        <if condition="$_SESSION['pkey']['USER_CF'] eq '1'">
                                            <li class="last"><a href="{:U('User/checkauthentications',array('uid'=>$ult['uid']))}"><i class="table-ok" ></i></a></li>
                                        </if>
                                     <else/>
                                    </if>
                                </ul>
                            </td>
                        </tr>
                        </volist>                        
                        </tbody>
                    </table>
                 <div class="pagination pull-right">
                    <ul>
                        {$page}
                    </ul>
                     <div style="margin-right:15px;display: inline-block;height: 26px;line-height: 26px;" class="pull-left">每页显示:
                         <select style="margin:0;width: 60px;height: 24px;" onchange="$('#psize').val(this.value);$('#searchfm').submit();">
                             <option {$psize=='5'?'selected':''}>5</option>
                             <option {$psize=='10'?'selected':''}>10</option>
                             <option {$psize=='20'?'selected':''}>20</option>
                             <option {$psize=='50'?'selected':''}>50</option>
                             <option {$psize=='100'?'selected':''}>100</option>
                             <option {$psize=='200'?'selected':''}>200</option>
                         </select>&nbsp;条记录
                     </div>
                </div>
                   <div class="qjcz">
					截止<script type="text/javascript">var myDate = new Date();document.writeln(myDate.getFullYear()+'年'+(myDate.getMonth()+1)+'月'+myDate.getDate()+'日');</script>，共有<font color="#f00" size="4">{$ucount}</font>个会员，账户累计余额<font color="#f00" size="5">{$anumber}</font>元
				</div>
                </div>
                <!-- end users table -->
            </div>
        </div>
<!-- scripts -->
<script language="javascript" type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
<script src="__JS__/wysihtml5-0.3.0.js"></script>
<script src="__JS__/jquery-latest.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/bootstrap-wysihtml5-0.0.2.js"></script>
<script src="__JS__/bootstrap.datepicker.js"></script>
<script src="__JS__/jquery.uniform.min.js"></script>
<script src="__JS__/select2.min.js"></script>
<script src="__JS__/theme.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		setdashboardmenu("客户管理");
		
		// select2 plugin for select elements
        $(".select2").select2({
            placeholder: "请选择会员单位"
        });

        // datepicker plugin
        $('.datepicker').datepicker().on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
	});
	
	$('#top_search').keyup(top_serch);
	$('#sxsearch').click(top_serch);
	//搜索结果，ajax返回搜索框搜索结果
	function top_serch(){
		//获取点击参数
		var urlkey = $(this).attr("urlkey");
		//获取文本框值
		var keywords = $("#top_search").val(),
		    sxkey = $("#sxkey  option:selected").val(),
			formula = $("#formula  option:selected").val(),
			sxvalue = $("#sxvalue").val();
		//重新定义提交url
		var newurl = "";
		if(urlkey == "search"){
			newurl = "{:U('User/ulist?step=search')}"
		}
		if(urlkey == "sxsearch"){
			newurl = "{:U('User/ulist?step=sxsearch')}"
		}
		$.ajax({  
		    type: "post",  
		    url: newurl,    
        	data:{"keywords":keywords,"sxkey":sxkey,"formula":formula,"sxvalue":sxvalue},
		    success: function(data) {
		    	//console.log(data);
		    	if(data=="null"){
	            	//$("#loading").hide();
	            	$("#ajaxback").html('<volist name="ulist" id="ult"><tr class="first"><td colspan="13">没有找到结果，请重新输入！</tr></td>');
	            }else{
			    	$ulist = "";
		            $.each(data,function(no,items){
		            	$ulist += '<volist name="ulist" id="ult"><tr class="first">';
		            	$ulist += '<td>'+items.uid+'</td>';
		            	if(items.username != null && items.username != "" && items.username != "null"){
		            		$ulist += '<td><a href="{:U(\'User/updateuser\')}?uid='+items.uid+'" >'+items.username+'</a></td>';
		            	} else {
		            		$ulist += '<td></td>';
		            	}
		            	if(items.nickname != null && items.nickname != "" && items.nickname != "null"){
		            	    $ulist += '<td>'+items.nickname+'</td>';
		            	} else {
                            $ulist += '<td></td>';
                        }
		            	if(items.utel == null || items.utel == ""){
		            		$ulist += '<td></td>';
		            	} else {
		            		$ulist += '<td>'+items.utel+'</td>';
                        }
//		            	if(items.address != null && items.address != "" && items.address != "null"){
//		            	    $ulist += '<td>'+items.address+'</td>';
//		            	} else {
//                            $ulist += '<td></td>';
//                      }
		            	if(items.portrait == null || items.portrait == ""){
		            		$ulist += '<td><img src="__IMG__/contact-img.png" class="img-circle avatar hidden-phone"></td>';
		            	} else {
		            		$ulist += '<td><img src="'+items.portrait+'" class="img-circle avatar hidden-phone"></td>';
		            	}
		            	$ulist += '<td>'+items.utime+'</td>';
		            	if(items.managername != null && items.managername != 'null' && items.managername != ""){
		            		$ulist += '<td><a href="{:U(\'User/updateuser\')}?uid='+items.oid+'" >'+items.managername+'</a></td>';
		            	} else {
                            $ulist += '<td></td>';
                        }
		            	$ulist += '<td>'+items.lastlog+'</td>';
		            	if(items.ocount=='0'){
		            		$ulist += '<td>0</td>';
		            	}else{
		            		$ulist += '<td><a href="">'+items.ocount+'</a></td>';	
		            	}
		            	$ulist += '<td><font color="#f00" size="4">￥'+items.balance+'<font></td>';
		            	$ulist += '<td>';
		            	if(items.otype == '0'){
		            		$ulist += '客户';
		            	}
		            	if(items.otype == '1'){
		            		$ulist += '代理商';
		            	}
		            	if(items.otype == '2'){
		            		$ulist += '会员单位';
		            	}
		            	if(items.otype == '3'){
                            $ulist += '超级管理员';
                        }
		            	$ulist += '</td><td>';
		            	if(items.authenticationsstatus == '0'){
		            		$ulist += '未实名';
                        }
                        if(items.authenticationsstatus == '1'){
                            $ulist += '实名申请中';
                        }
                        if(items.authenticationsstatus == '2'){
                        	$ulist += '<a href="{:U(\'User/checkauthentications\')}?uid='+items.uid+'">已实名</a>';
                        }
                        $ulist += '</td><td>';
                        if(items.ustatus == '0'){
                            $ulist += '激活';
                        }
                        if(items.ustatus == '1'){
                            $ulist += '冻结';
                        }
                        $ulist += '</td><td>';
		            	$ulist += '<ul class="actions">';
		            	$ulist += '<li><a href="{:U(\'User/updateuser\')}?uid='+items.uid+'"><i class="table-edit"></i></a></li>';
						$ulist += '<li class="last"><a href="{:U(\'User/userdel\')}?uid='+items.uid+'" onclick="if(confirm(\'确定要删除吗?\')){return true;}else{return false;}"><i class="table-delete"></i></a></li>';
						if(items.authenticationsstatus == '1'){
                            $ulist += '<li class="last"><a href="{:U(\'User/checkauthentications\')}?uid='+items.uid+'"><i class="table-ok"></i></a></li>';
                        }
		            	$ulist += '</ul></td></tr>';
		            })
		            $("#ajaxback").html($ulist);
		            $(".pagination").html("");
	            }
		    },
		    error: function(data) {  
	            console.log(data);
	        }
		  })
	}
	
	$("#sxkey").bind("change",function(){
		var sxkey = $(this).val();
		switch(sxkey){
			case "uid":
				$("#sxvalue").attr("placeholder","格式：不允许汉字");
				break;
			case "username":
				$("#sxvalue").attr("placeholder","格式：雁过留痕");
				break;
			case "utel":
				$("#sxvalue").attr("placeholder","格式：15022220000");
				break;
			case "otype":
				$("#sxvalue").attr("placeholder","格式：客户/代理商");
				break;
			case "utime":
				$("#sxvalue").attr("placeholder","格式：1970-10-01");
				break;
			case "balance":
				$("#sxvalue").attr("placeholder","格式：不允许汉字");
				break;
            case "authenticationsstatus":
                $("#sxvalue").attr("placeholder","格式：已实名/未实名/认证中");
                break;
            case "ustatus":
                $("#sxvalue").attr("placeholder","格式：激活/冻结");
                break;
			default:
				$("#sxvalue").text("输入内容");
		}
		
	})
</script>
</block>